@font-face{
	font-family: OpenSans-ExtraBold; /*800*/
	src: url(fonts/OpenSans-ExtraBold.ttf);
	font-family: OpenSans-Regular; /*400*/
	src: url(fonts/OpenSans-Regular.ttf);
	font-family: OpenSans-Bold; /*700*/
	src: url(fonts/OpenSans-Bold.ttf);
	font-family: OpenSans-SemiBold; /**/
	src: url(fonts/OpenSans-SemiBold.ttf);
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}


/* Container */
.container{
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;

}
.container__new{
	width: 100%;
	max-width: 1400px;
	height: 870px;
	margin: 0 200px;
	display:flex;

}


/* Intro */
.intro{
	display:flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 700px;
	background: #F6F2F2;
	background-size: cover;
}

.intro__inner{
	width: 100%;
	max-width: 680px;

}

.intro__title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: 1.5px;
	text-transform: uppercase;

	padding: 91px 0 15px;
}

.intro__text{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	padding: 20px 0 50px;
}

.intro__img{
	float: right;
	padding-top: 100px;
	width: 551px;
}

/* Header */
.header{

	width: 100%;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner{
	display: flex;
	justify-content: center;

	max-width:1250px;
	height: 90px;
	background: #000000;
	mix-blend-mode: normal;
	opacity: 0.8;
}


/* Nav */
.nav{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.49px;
	text-transform: uppercase;
	overflow: hidden;
}

.nav__link{
	display: inline-block;
	vertical-align: top;
	padding: 33px 25px;

	color: #E0E0E0;
	text-decoration: none;
}

.nav__link:hover{
	background-color: #FF3F40;
}

/* Button */
.intro__btn{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 34px;
	padding: 10px 70px;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;

	background-color: #FF2D2D;
	color: #fff;
	border-radius: 4px;
	width: 227px;
	height: 55px;
}

.distribution__btn{
	font-family: 'OpenSans', sans-serif;
	font-size: 17px;
	line-height: 34px;
	font-weight: 700;
	border-radius: 4px;

	width: 217px;
	height: 82px;
	margin-left: 19px;

	
	letter-spacing: 0.317046px;
	text-transform: uppercase;

	background: #FF2D2D;
	color: #FFFFFF;
}

.connection__btn{
	font-family: 'OpenSans', sans-serif;
	font-size: 17px;
	line-height: 34px;
	font-weight: 700;
	letter-spacing: 0.317046px;
	text-transform: uppercase;

	width: 735px;
	height: 75px;
	margin: 40px 0;
	border-radius: 4px;

	background: #FF3B3B;
	color: white;
}

/* Main */

.main{

}

.main__distribution{
	max-width:100%;
	height: 510px;
	background: #2D2D2D;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;

}

.main__connection{
	width:750px;
	height: 770px;

	display: flex;
	flex-direction: column;
}

/* Distribution */

.distribution__title{
	font-family: 'OpenSans', sans-serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 24px;
	letter-spacing: 1.05px;
	color: #FFFFFF;

	padding-bottom: 17px;
}

.distribution__text{
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #FFFFFF;

	padding-bottom: 56px;
}

.distribution__colortext{
	width: 524px;
	height: 82px;
	border-radius: 4px;
	padding-left: 40px;

	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.4px;

	color: #2C2C2C;
}

/*  Conection  */

.connection__title{
	font-family: 'OpenSans', sans-serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 0px;
	letter-spacing: 0.3834px;
	text-transform: uppercase;

	padding-top: 100px;
}

.connection__text{
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;

	padding-top: 45px;
}

.line{
	width: 134px;
	border-bottom: 2px solid #f00;
	margin:60px 0;

}

.connection__colortext_name{
	width: 342px;
	height: 71px;
	border-radius: 8px;

	padding-left: 40px;
	

	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;

}
.connection__colortext_mail{
	width: 342px;
	height: 71px;
	border-radius: 8px;

	padding-left: 40px;
	margin-left: 46px;

	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}

.connection__colortext_mess{
	width: 734px;
	height: 252px;
	border-radius: 8px;

	padding: 32px 0 200px 40px;
	margin-top:40px;

	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}

/*  Contact info  */

.contact__info{
	width: 580px;
	height: 485px;
	margin-top:350px;
	margin-left:100px;


	background: #2D2D2D;

	display: flex;
	flex-direction: column;
}
.info__title{
	font-family: 'OpenSans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 34px;

	color: white;
	letter-spacing: 0.317046px;
	text-transform: uppercase;

	margin-top:140px;
	margin-left:80px;
}

.info__text{
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;

	margin-top:30px;
	margin-left:80px;

	color: #FFFFFF;
}

/* Footer */

.footer {
	margin-top: 65px;
}

.footer__section{
	display: flex;
	justify-content: space-between;
	max-width:100%;
	height: 113px;
	background: #000000;
	mix-blend-mode: normal;
	opacity: 0.8;


}

.footer__copyright{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #B8B8B8;

	padding: 53px 0 32px 170px;
}

.footer__social-links{
	padding: 48px 170px 32px 0;
}

.footer__img{
	width: 33px;
	height: 33px;
	margin-right: 15px;
}
